# Turn rewrite engine on
Options +FollowSymlinks
RewriteEngine on

php_value upload_max_filesize 30M

# map neat URL to internal URL
RewriteRule ^Lopersa/(\w+)/?$  developer/code.php?case=$1 [nc,qsa]
RewriteRule ^clogin/(\w+)/?$  developer/codelogin.php?case=$1 [nc,qsa]
RewriteRule ^dashboard  dashboard2.php  [nc,qsa]
RewriteRule ^login  login2.php  [nc,qsa]
RewriteRule ^Zip  developer/generatezip.php  [nc,qsa]
RewriteRule ^ThisZip  developer/generatezipselect.php  [nc,qsa]
RewriteRule ^Delete  developer/deletefile.php  [nc,qsa]
RewriteRule ^Upload  developer/uploadfile.php  [nc,qsa]
RewriteRule ^ImageResource/  assets/  [nc,qsa]
RewriteRule ^Open/(\w+)/?$  developer/returnfiles.php?lkg=$1 [nc,qsa]

